.timecount {
    width: 300px !important;    
}

.caption > .label {
    color: #c2c2c2 !important;    
}

.county > span{
    font-family: "Roboto Condensed Bold";
    width: 50px;
    display: inline-block;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    margin: 0 20px 0 0px;
    color: #393939;
    text-align: center;
    background: #fff;
    font-weight: 700;
    border-radius: 3px;
}
.county > span:after{
    content:"";
    background: url(../img/fig-55.png) no-repeat left top;
    width:50px;
    height:8px;
    position:absolute;
    left: 0;
    top: 23px;
}
.county > span > span {
    display: block;
    height: inherit;
}