.popover {
    border:3px solid #0b8fd1 !important;
    color: #0F0F0F;
    font-family: "Roboto Condensed Regular";
    font-size: 14px;
    font-weight: 400;
    z-index: 10;
}

.popover.top > .arrow {
    border-top-color: #0b8fd1 !important;
}

.popover.top > .arrow:after {
    bottom:3px !important;
}