.countdown-wrp {
    position: absolute;
    right: -25px;
    top: 87.5%;
    }

.timecount {
    width: 300px !important;    
}

.county > span {
    font-family: "Roboto Condensed Bold";
    width: 50px;
    display: inline-block;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    margin: 0 20px 0 0px;
    color: #393939;
    text-align: center;
    background: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.county span.county-seconds-wrapper {
    color: #cf0606;
}

.county > span:after{
    content:"";
    background: url(../img/fig-55.png) no-repeat left top;
    width:50px;
    height:8px;
    position:absolute;
    left: 0;
    top: 23px;
}
.county > span > span {
    display: block;
    height: inherit;
}

.caption {
    position: relative;
    top:-6px;
}

.caption > .label {
    color: #C2C2C2;
    font-family: "Roboto Condensed Regular";
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin: 0 16px 0 0px;
    width: 50px;
    text-align: center;
    padding: 0;
}