/*
** mersedes
*/

.mersedes {
    margin-top: 95px;    
    position: relative;
    &_box {        
        background-image: url('../img/fig-14.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 1918px 269px;        
    }
    &_box._second {
        background-position: center top;
        margin-top: 50px;        
    }
    &_box._third {
        background-position: center top;
        margin-top: 50px;        
    }
    &_image._second {
        width: 353px;
        height: 493px;
        background-image: url('../img/fig-17.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 353px 493px;
    }
    &_image._third {
        width: 371px;
        height: 579px;
        background-image: url('../img/fig-18.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 371px 579px;
    }
    &_title {
        color: #323232;
        font-family: "Roboto Condensed Light";
        font-size: 40px;
        line-height: 122px;
        font-weight: 300;    
        text-align: center;
        height: 122px;
        background-color: #deeef1;  
    }
    &_image {
        margin-top: 40px;
        width: 347px;
        height: 500px;
        background-image: url('../img/fig-10.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 347px 500px;
    }    
    &_header {
        margin-top: 70px;
        color: #323232;
        font-family: "Roboto Condensed Regular";
        font-weight: 400;
        font-size: 30px;
    }
    &_description {
        margin-top: 15px;
        color: #323232;
        font-family: "Roboto Condensed Regular";
        font-weight: 400;
        font-size: 18px;        
    }
    &_functions {
        margin-top: 30px;
        &__function {            
            color: #323232;
            font-family: "Roboto Condensed Light";
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 5px;
        }        
        &__function.___rehau &__function_1___icon {            
            margin: 0 15px 0 5px;
            display: inline-block;
            width: 22px;
            height: 22px;
            background-image: url('../img/fig-11.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 22px 22px;
        }
        &__function.___rehau &__function_2___icon {            
            margin: 0 5px 0 5px;
            display: inline-block;
            width: 31px;
            height: 23px;
            background-image: url('../img/fig-12.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 31px 23px;
        }
        &__function.___rehau &__function_3___icon {            
            margin: 0 10px 0 10px;
            display: inline-block;
            width: 20px;
            height: 22px;
            background-image: url('../img/fig-13.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 20px 22px;
        }
        &__function.___g-u &__function_1___icon {            
            margin: 0 15px 0 5px;
            display: inline-block;
            width: 22px;
            height: 22px;
            background-image: url('../img/fig-15.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 22px 22px;
        }
        &__function.___g-u &__function_2___icon {            
            margin: 0 10px 0 5px;
            display: inline-block;
            width: 25px;
            height: 23px;
            background-image: url('../img/fig-16.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 25px 23px;
        }
        &__function.___gcgs {
            border:2px solid #f7c604;
            padding: 10px 25px;
            text-align: center;
            display: inline-block;
        }
    }
}