/*
** popular_offers
*/

.popular_offers {    
    height: 1120px;
    background-image: url('../img/fig-19.png');
    background-size: 1920px 1120px;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    &__title {        
        font-family: "Roboto Condensed Bold";
        color: #DC0B12;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
    }
    &__description {
        font-family: "Roboto Condensed Light";                
        color: #323232;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
    }
    &__offer {
        position: relative;
        background: #fff;
        width: 220px;
        &___recomend_stripe {
            position: absolute;
            top:-3px;
            right: -3px;
            width: 70px;
            height: 70px;
            background-image: url('../img/fig-27.png');
            background-size: 70px 70px;
            background-position: center;
            background-attachment: scroll;
            background-repeat: no-repeat;            
        }
        &___header {
            color: #323232;
            font-family: "Roboto Condensed Bold";
            font-size: 25px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
            padding-top: 10px;
        }
        &___header._bigger {
            line-height: 32px;
        }
        &___image {
            width: 114px;
            height: 90px;
            background-image: url('../img/img-20.png');
            background-size: 114px 90px;
            background-position: center;
            background-attachment: scroll;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        &___image.___third {
            width: 168px;
            height: 90px;
            background-image: url('../img/fig-23.png');
            background-size: 168px 90px;
            background-position: center;
            background-attachment: scroll;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        &___image.___fourth {
            width: 114px;
            height: 125px;
            background-image: url('../img/fig-25.png');
            background-size: 114px 125px;
            background-position: center;
            background-attachment: scroll;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        &___dimensions {
            color: #323232;
            font-family: "Roboto Condensed Light";
            font-size: 22px;
            font-weight: 300;
            text-align: center;
            margin: 10px 0 25px 0;
        }
        &___dimensions.___fourth {
            margin-bottom: 16px;
        }
        &___description {
            color: #323232;
            font-family: "Roboto Condensed Regular";
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 20px;
            &____icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url('../img/fig-22.png');
                background-size: 16px 16px;
                background-position: 0 0;
                background-attachment: scroll;
                background-repeat: no-repeat;
                margin-left: 5px;
                position: relative;
                top:3px;
                cursor: pointer;
            }
        }
        &___description.___fourth {
            line-height: 19px;
        }
        &___prices {
            text-align: center;
            &____title {
                color: #1D9851;
                font-family: "Roboto Condensed Bold";
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;                
                display: block;    
                margin-top: 30px;
            }
            &____price_old {                
                font-family: "Roboto Condensed Regular";
                font-weight: 400;
                color: #A8A8A8;
                font-size: 17px;
                text-decoration: line-through;
                display: block;
                margin: 15px 0 5px 0;
            }
            &____price_current {
                font-family: "Roboto Condensed Regular";
                font-weight: 400;
                color: #1D9851;
                font-size: 30px;
                display: block;
                margin-bottom: 15px;
            }
        }
        &___button {
                background-color: #0F0F0F;
                background-image: -moz-linear-gradient(bottom, #0189CD 0%, #39ADE6 100%);
                background-image: -o-linear-gradient(bottom, #0189CD 0%, #39ADE6 100%);
                background-image: -webkit-linear-gradient(bottom, #0189CD 0%, #39ADE6 100%);
                background-image: linear-gradient(to top, #0189CD 0%, #39ADE6 100%);
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;            
                color: #FFF;
                font-family: "Roboto Condensed Regular";
                font-size: 14px;
                font-weight: 400;
                text-align: center;                      
                cursor: pointer;         
                margin: 0 auto;
            } 
    }    
    &__offer._smaller {        
        margin-top: 80px;        
        height: 585px;
        background-image: url('../img/fig-21.png');
        background-size: 220px 585px;
        background-position: center;
        background-attachment: scroll;
        background-repeat: no-repeat;        
    }
    &__offer._bigger {
        margin-top: 50px;             
        height: 615px;
        background-image: url('../img/fig-24.png');
        background-size: 220px 615px;
        background-position: center;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }
    &__offer._bigger.__fourth {
        margin-top: 50px;             
        height: 615px;
        background-image: url('../img/fig-26.png');
        background-size: 220px 615px;
        background-position: center;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }
    &__additional_features {
        text-align: center;
        &___title {
            color: #FFF;
            font-family: "Roboto Condensed Regular";
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 30px;
        }
        &___item {
            color: #FFF;
            font-family: "Roboto Condensed Regular";
            font-weight: 400;
            font-size: 18px;            
            margin-top: 25px;
        }
    }
}

.header_main__find_out_the_cost._po {
    margin-top: 30px;
    width: 790px;
    height: 154px;
    background-image: url('../img/fig-28.png');
    background-size: 790px 154px;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.header_main__find_out_the_cost._po .header_main__find_out_the_cost___form {
    margin-top: 25px;
}

.header_main__find_out_the_cost._po .form-icon-name {
    background-size: 15px 17px;
}